<!DOCTYPE html>
    <html>
    <head>
        <title>Product Page</title>
        @Styles.Render("~/Content/css")
    </head>
    <body>
        @RenderBody()
        @Scripts.Render("~/Scripts/js")

    </body>

    </html>

